In [78]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="whitegrid")

In [2]:
df = pd.read_csv('../data/tweets.csv')
df

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion
...,...,...,...
8716,Ipad everywhere. #SXSW {link},iPad,Positive emotion
8717,"Wave, buzz... RT @mention We interrupt your re...",NaN,No emotion toward brand or product
8718,"Google's Zeiger, a physician never reported po...",NaN,No emotion toward brand or product
8719,Some Verizon iPhone customers complained their...,NaN,No emotion toward brand or product
8720,�ϡ�����_��ʋ�΋�ҋ�������⋁_��������_���RT @mentio...,NaN,No emotion toward brand or product

In [3]:
df.rename(columns={"tweet_text": "tweet", "emotion_in_tweet_is_directed_at": "product", 
                   "is_there_an_emotion_directed_at_a_brand_or_product": "sentiment"}, inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8721 entries, 0 to 8720
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      8720 non-null   object
 1   product    3169 non-null   object
 2   sentiment  8721 non-null   object
dtypes: object(3)
memory usage: 204.5+ KB

In [5]:
df.isna().sum()

tweet           1
product      5552
sentiment       0
dtype: int64

In [6]:
df[df['tweet'].isna() == True]

  tweet product                           sentiment
6   NaN     NaN  No emotion toward brand or product

In [7]:
df.dropna(subset=['tweet'], inplace=True)

In [8]:
df.isna().sum()

tweet           0
product      5551
sentiment       0
dtype: int64

In [9]:
df.fillna('Unknown', inplace=True)
df.isna().sum()

tweet        0
product      0
sentiment    0
dtype: int64

In [10]:
df['product'].value_counts()

Unknown                            5551
iPad                                910
Apple                               640
iPad or iPhone App                  451
Google                              412
iPhone                              288
Other Google product or service     282
Android App                          78
Android                              74
Other Apple product or service       34
Name: product, dtype: int64

In [11]:
def name_nan_combo(name1, name2=None):
    df.loc[(df['product'] == 'Unknown') & (df['tweet'].str.contains(name1, name2)), 'product'] = name1 + '/' + name2
    
def name_nan_single(name):
    df.loc[(df['product'] == 'Unknown') & (df['tweet'].str.contains(name)), 'product'] = name

In [12]:
product_names_combo = [['Google', 'Apple'], ['Apple', 'Android'], ['iPad', 'iPhone']]

product_names_single = ['Apple', 'Android', 'Google', 'iPad', 'iPhone']

In [13]:
for product in product_names_combo:
    name_nan_combo(product[0], product[1])

for product in product_names_single:
    name_nan_single(product)

In [14]:
df['product'].value_counts()

Unknown                            1444
Google/Apple                       1407
Apple/Android                       946
iPad/iPhone                         913
iPad                                910
iPhone                              886
Apple                               640
iPad or iPhone App                  451
Google                              412
Android                             317
Other Google product or service     282
Android App                          78
Other Apple product or service       34
Name: product, dtype: int64

In [25]:
def rename_product_both(name):
    df.loc[(df['product'].str.contains(name)), 'product'] = 'Google/Apple'
    
def rename_product_google(name):
    df.loc[(df['product'].str.contains(name)), 'product'] = 'Google'
    
def rename_product_apple(name):
    df.loc[(df['product'].str.contains(name)), 'product'] = 'Apple'

In [26]:
both_list = ['Apple/Android']

google_list = ['Android', 'Other Google product or service', 'Android App']

apple_list = ['iPad/iPhone', 'iPad', 'iPhone', 'iPad or iPhone App', 'Other Apple product or service']

In [29]:
for product in both_list:
    rename_product_both(product)

for product in google_list:
    rename_product_google(product)
    
for product in apple_list:
    rename_product_apple(product)

In [30]:
df['product'].value_counts()

Apple           3834
Google/Apple    2353
Unknown         1444
Google          1089
Name: product, dtype: int64

In [84]:
df.groupby(['sentiment','product']).count()

                                                 tweet
sentiment                          product
I can't tell                       Apple            56
                                   Google            6
                                   Google/Apple     66
                                   Unknown          23
Negative emotion                   Apple           389
                                   Google          126
                                   Google/Apple     22
                                   Unknown           8
No emotion toward brand or product Apple          1407
                                   Google          253
                                   Google/Apple   2136
                                   Unknown        1359
Positive emotion                   Apple          1982
                                   Google          704
                                   Google/Apple    129
                                   Unknown          54